<div>
  <div class="card horizontal left-align valign-wrapper">
    <div class="card-image" style="width: 120px;"><img id="img2"
        src="{{Plant.image}}" height="150px"
        style="margin: 20px; border-radius: 20%;"></div>
    <div class="card-stacked">
      <div class="card-content">
        <h3>{{Plant.plantName}}</h3>
      </div>
      <div class="card-action"><a href="/devices/{{id}}" data-plantname="{{Plant.plantName}}">Go to Stats</a><a href=""
          data-plant="{{Plant.plantName}}">Delete device</a></div>
    </div>
  </div>
</div>