<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/cmGauge.css">

<div class="skyDim"></div>
<div class="sky"></div>

<div class="entireInfo">
  <div class="container">
    <div class="row">
      <div class="col s12 pt-1">
        <a href="/users/{{device.User.userName}}" class="left-align">Back to Devices</a>
        <h3 class="center-align mt-0 deviceHead">{{device.User.userName}}'s {{device.Plant.plantName}}</h3>
        <ul class="tabs tabs-fixed-width z-depth-1">
          <li class="tab col s3"><a href="#summaryTab" class="active">Summary</a></li>
          <li class="tab col s3"><a href="#chartTab">Chart</a></li>
          <li class="tab col s3"><a href="#dataTab">Data</a></li>
        </ul>
      </div>
      <div id="summaryTab" class="col s12">
        <div class="row">
          <div class="col s12 m6 xl4">

            {{> device/statcard-block property="Moisture" icon="fa-tint" value=currentStats.moisture unit="%" maxValue=1024}}

            <!--<div class="card">
              <div class="card-content green-text">
                <div class="row margin-0">
                  <div class="col s6 center-align">
                    <p class="card-title">Moisture</p>
                    <i
                      class="fas fa-tint large-status-icon"></i>
                  </div>
                  <div class="col s6">
                    <div class="card-body center-align">
                      <div id="moisture" class="gauge gauge-medium gauge-green">
                        <div class="gauge-arrow gauge-blue" data-percentage="0" style="transform: rotate(-90deg);">
                        </div>
                      </div>
                      <span class="card-title">({{currentStats.moisture}}%)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
          <div class="col s12 m6 xl4">

            {{> device/statcard-block property="Light" icon="fa-sun" value=currentStats.light unit="%" maxValue=1024}}

            <!--<div class="card">
              <div class="card-content">
                <div class="row margin-0">
                  <div class="col s3 center-align">
                    <i
                      class="fas fa-sun large-status-icon {{#if currentStats.light}}green-text{{else}}yellow-text text-darken-2{{/if}}"></i>
                  </div>
                  <div class="col s9">
                    {{#if currentStats.light}}
                    <span class="card-title green-text">GOOD ({{currentStats.light}} lm)</span>
                    {{else}}
                    <span class="card-title yellow-text text-darken-2">LOW (0 lm)</span>
                    {{/if}}
                    <p>Light</p>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
          <div class="col s12 m6 xl4">

            {{> device/statcard-block property="Temperature" icon="fa-thermometer-half " value=currentStats.sensorTempFehr unit="°" maxValue=100}}

            <!--<div class="card">
              <div class="card-content">
                <div class="row margin-0">
                  <div class="col s3 center-align">
                    <i class="fas fa-thermometer-half large-status-icon green-text"></i>
                  </div>
                  <div class="col s9">
                    <span class="card-title green-text">GOOD ({{currentStats.sensorTempFehr}}<span>&#176;</span>)</span>
                    <p>Temperature</p>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
          <div class="col s12 m6 xl4">

            {{> device/statcard-block property="Precipitation" icon="fa-cloud-rain" value=currentStats.precipIntensity unit="%" maxValue=1024}}

            <!--<div class="card">
              <div class="card-content">
                <div class="row margin-0">
                  <div class="col s3 center-align">
                    <i class="fas fa-cloud-rain large-status-icon red-text"></i>
                  </div>
                  <div class="col s9">
                    <span class="card-title red-text">BAD ({{currentStats.precipIntensity}} in/hr)</span>
                    <p>Precipitation</p>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
          <div class="col s12 m6 xl4">

            {{> device/statcard-block property="Humidity" icon="fa-smog" value=currentStats.humidity unit="%" maxValue=1024}}

            <!--<div class="card">
              <div class="card-content">
                <div class="row margin-0">
                  <div class="col s3 center-align">
                    <i
                      class="fas fa-smog large-status-icon {{#if currentStats.humidity}}green-text{{else}}yellow-text text-darken-2{{/if}}"></i>
                  </div>
                  <div class="col s9">
                    {{#if currentStats.humidity}}
                    <span class="card-title green-text">GOOD ({{currentStats.humidity}}%)</span>
                    {{else}}
                    <span class="card-title yellow-text text-darken-2">LOW (0%)</span>
                    {{/if}}
                    <p>Humidity</p>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
          <div class="col s12 m6 xl4">

            {{> device/statcard-block property="Wind" icon="fa-wind" value=currentStats.windSpeed unit=" mph" maxValue=10}}

            <!--<div class="card">
              <div class="card-content">
                <div class="row margin-0">
                  <div class="col s3 center-align">
                    <i
                      class="fas fa-wind large-status-icon {{#if currentStats.windSpeed}}yellow-text text-darken-2{{else}}green-text{{/if}}"></i>
                  </div>
                  <div class="col s9">
                    {{#if currentStats.windSpeed}}
                    <span class="card-title yellow-text text-darken-2">HIGH ({{currentStats.windSpeed}} mph)</span>
                    {{else}}
                    <span class="card-title green-text">GOOD (0 mph)</span>
                    {{/if}}
                    <p>Wind Speed</p>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <div id="chartTab" class="col s12 card">
        <div class="row">
          <div class="input-field col s12 m6">
            <select id="propertySelect">
              <option value="moisture" selected>Moisture</option>
              <option value="light">Light</option>
              <option value="sensorTemp">Temperature</option>
              <option value="precipIntensity">Precipitation</option>
              <option value="humidity">Humidity</option>
              <option value="windSpeed">Wind Speed</option>
            </select>
          </div>
          <div class="input-field col s12 m6">
            <select id="rangeSelect">
              <option value="day" selected>Day</option>
              <option value="week">Week</option>
              <option value="month">Month</option>
              <option value="year">Year</option>
              <option value="all">All</option>
            </select>
          </div>
        </div>
        <div id="chart"></div>
      </div>
      <div id="dataTab" class="col s12 card">
        <table id="dataTable" style="display: none;">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Moisture</th>
              <th>Light</th>
              <th>Temperature</th>
              <th>Precipitation</th>
              <th>Humidity</th>
              <th>Wind Speed</th>
            </tr>
          </thead>
          <tbody>
            {{#each device.LiveStats}}
            {{> device/datapoint-block}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="grassDiv">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/cmGauge.js"></script>
<script src="/js/device.js"></script>